@model IEnumerable<Domain.Models.History>
@{
    ViewBag.Title = "History";
}

<h2>History</h2>

<table class="table-bordered">
    <tr><th>X</th><th>Operation</th><th>Y</th><th>Result</th><th>Date</th></tr>

    @foreach (var oper in Model)
    {
        <tr>
            <!-- <td>@(oper.Id)</td>-->          
            <td>@(oper.X)</td>
            <td>@(oper.Operation)</td>
            <td>@(oper.Y)</td>
            <td>@(oper.Result)</td>
            <td>@(oper.CreationDate)</td>

        </tr>
    }

</table>
